.darkblue-background {
    background: rgb(2,0,36);
    background: linear-gradient(140deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

.darkblue-background h1 {
    color:white;
}

.darkblue-background h3 {
    color:white;
}

.EditCardTextarea {
    width: 100%;
    border: none;
    resize: none;
    outline: none;
    font-size: 15px;
}

.strike-text { 
    text-decoration: line-through;
}